.container {
  display: flex;
  max-width: 30 rem;
  max-height: 12rem;
  flex-direction: column;
  justify-content: center;
}

.box {
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  text-align: center;
  color: #172b4d;
  flex: auto;
  order: 0;
  flex-grow: 0;
}

.section {
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
